body{
    background-color: rgb(67, 184, 219);
}
h1{
color: gold;
    text-align: left;
    padding: 20px;
    font-style: italic;
}
form{
    margin: 20px;
    border: 50px;
}
table,td{
    text-align: center;
    margin: 10px;
    text-decoration-style: double;
    border: 10px groove;
    border-collapse: inherit;
}
input{
    padding: 20px;
    color:green;
}
